* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

nav ul {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}